/* Visually hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn-how-it-works, .btn-gift-finder {
  padding: 0;
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  text-align: center;
  color: #f7941e;
  background-color: transparent;
  border: 1px solid #f7941e;
  border-radius: 4px;
}

.logo-link-footer, .logo-link-header {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-link-footer, .logo-link-header {
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-link-footer, .logo-link-header {
    line-height: 1.3333333333;
  }
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-link {
    width: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-link {
    height: 50px;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* == Global styles reset == */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  cursor: pointer;
}

/* img */
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* == Button in header == */
.btn-gift-finder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-gift-finder:hover, .btn-gift-finder:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f7941e;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--header {
    width: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--header {
    height: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--header {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--header {
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--header {
    text-transform: capitalize;
  }
}
@media screen and (min-width: 1200px) {
  .btn-gift-finder--header {
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-gift-finder--header {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
@media screen and (min-width: 768px) {
  .btn-gift-finder--header {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .btn-gift-finder--header {
    height: 44px;
  }
}
.btn-gift-finder--hero {
  color: #ffffff;
  background-color: #f7941e;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--hero {
    width: 140px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--hero {
    height: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--hero {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--hero {
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-gift-finder--hero {
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-gift-finder--hero {
    height: 44px;
  }
}
.btn-gift-finder--hero:hover, .btn-gift-finder--hero:focus {
  color: #f7941e;
  background-color: #ffffff;
}
.btn-gift-finder--cta {
  color: #ffffff;
  background-color: #000000;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--cta {
    width: 140px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--cta {
    height: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--cta {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-gift-finder--cta {
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-gift-finder--cta {
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-gift-finder--cta {
    height: 44px;
  }
}
.btn-gift-finder--cta:hover, .btn-gift-finder--cta:focus {
  color: #000000;
  background-color: #ffffff;
}

.btn-how-it-works {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works {
    width: 140px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works {
    height: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works {
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-how-it-works {
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-how-it-works {
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-how-it-works {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-how-it-works {
    height: 60px;
  }
}
.btn-how-it-works:hover, .btn-how-it-works:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.btn-how-it-works--cta {
  color: #000000;
  border: 1px solid #000000;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works--cta {
    width: 140px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works--cta {
    height: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works--cta {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-how-it-works--cta {
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-how-it-works--cta {
    width: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-how-it-works--cta {
    height: 44px;
  }
}
.btn-how-it-works--cta:hover, .btn-how-it-works--cta:focus {
  color: #000000;
  background-color: #ffffff;
}

/* == Social linkks == */
.social-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #000000;
  fill: #f7941e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.social-link--mobile {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link--mobile:hover, .social-link--mobile:focus {
  background-color: #f7941e;
  fill: #ffffff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.social-link__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-link__icon {
    width: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-link__icon {
    height: 50px;
  }
}

/* === HEADER === */
.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E4C7B3;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    padding-top: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 23px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* == Logo == */
.logo-link-header {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #231f20;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-link-header {
    -ms-flex-preferred-size: 19%;
        flex-basis: 19%;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link-header {
    -ms-flex-preferred-size: 12%;
        flex-basis: 12%;
  }
}
.logo-link-header:hover, .logo-link-header:focus {
  color: #f7941e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.logo-link-footer {
  color: #f7941e;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link-footer:hover, .logo-link-footer:focus {
  color: #231f20;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__item:not(:last-child) {
    margin-right: 31px;
  }
}
.page-nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    padding-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    line-height: 1.2222222222;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    color: #000000;
  }
}
.page-nav__link:hover, .page-nav__link:focus {
  color: #f7941e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover .menu-toggle__icon, .menu-toggle:focus .menu-toggle__icon {
  fill: #f7941e;
}
.mobile-menu .menu-toggle:hover .menu-toggle__icon, .mobile-menu .menu-toggle:focus .menu-toggle__icon {
  fill: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #f7941e;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-menu__list {
  margin-bottom: auto;
  width: 50vw;
}
.mobile-menu__link {
  padding: 15px 0;
  font-size: 38px;
  line-height: 1.1578947368;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #ffffff;
}
.mobile-menu__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu__item:not(:last-child) {
  margin-right: 20px;
}

/* === SECTION HERO === */
.hero {
  background-color: #F1F1F2;
}
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero__thumb {
  width: 320px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__thumb {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__thumb {
    width: 384px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__thumb {
    width: 600px;
  }
}
.hero__description {
  margin: 0 auto;
  padding: 0 20px 20px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__description {
    width: 384px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__description {
    padding: 60px 70px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    padding: 90px 110px;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    text-align: left;
  }
}
.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    line-height: 1.1785714286;
  }
}
.hero__subtitle {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: auto;
  }
}

/* === SECTION FEATURE === */
.feature {
  background-color: #F1F1F2;
}
.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .feature-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .feature-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.feature__thumb {
  width: 320px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .feature__thumb {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__thumb {
    width: 384px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__thumb {
    width: 600px;
  }
}
.feature__description {
  margin: 0 auto;
  padding: 0 20px 20px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__description {
    width: 384px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__description {
    padding: 30px 50px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__description {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__description {
    padding: 90px 110px;
  }
}
@media screen and (min-width: 768px) {
  .feature__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .feature__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .feature__description {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .feature__description {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}
@media screen and (min-width: 768px) {
  .feature__description {
    text-align: left;
  }
}
.feature__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .feature__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    line-height: 1.40625;
  }
}
.feature__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: justify;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .feature__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .feature__text {
    margin-bottom: auto;
  }
}

/* === SECTION POSTS TALL === */
.tall {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.tall__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .tall__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .tall__title {
    line-height: 1.1875;
  }
}
.tall__subtitle {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .tall__subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .tall__subtitle {
    line-height: 1.3333333333;
  }
}
.tall__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .tall__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .tall__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tall__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .tall__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .tall__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tall__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

.card {
  width: 270px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}
.card__thumb {
  width: 100%;
  background-color: #FAFAFA;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__thumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card__thumb:hover, .card__thumb:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
}
.card__wrap {
  padding: 24px;
}
.card__title {
  margin-bottom: 44px;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .card__title {
    margin-bottom: 74px;
  }
}
.card__link {
  font-size: 14px;
  line-height: 1.3571428571;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  color: #f7941e;
}

/* == CTA section == */
.cta {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f7941e;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cta {
    padding: 52px 0;
  }
}
@media screen and (min-width: 1200px) {
  .cta {
    padding: 82px 0;
  }
}
@media screen and (min-width: 768px) {
  .cta-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .cta-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .cta-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cta-container {
    padding: 0 45px;
  }
}
@media screen and (min-width: 1200px) {
  .cta-container {
    padding: 0 115px;
  }
}
.cta__text-wrap {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cta__text-wrap {
    margin-bottom: 0;
  }
}
.cta__bold-text, .cta__text {
  font-size: 26px;
  line-height: 1.4615384615;
  color: #000000;
}
.cta__bold-text {
  font-weight: 700;
}
.cta__text {
  font-weight: 400;
}
.cta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cta__item:not(:last-child) {
  margin-right: 16px;
}

/* == Top blog section == */
.topblog {
  padding: 40px 0;
  text-align: center;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .topblog {
    padding: 86px 0 82px;
  }
}
.topblog-container {
  padding: 0;
}
.topblog__title {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .topblog__title {
    margin-bottom: 23px;
  }
}
.topblog__text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .topblog__text {
    margin-bottom: 71px;
  }
}
.topblog__wrap {
  margin-bottom: 40px;
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .topblog__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.topblog__thumb {
  width: 320px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__thumb {
    width: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .topblog__thumb {
    width: 600px;
  }
}
.topblog__text-wrap {
  padding: 30px 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__text-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__text-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__text-wrap {
    padding: 25px 100px 25px 45px;
  }
}
@media screen and (min-width: 1200px) {
  .topblog__text-wrap {
    padding: 63px 200px 49px 78px;
  }
}
@media screen and (min-width: 768px) {
  .topblog__text-wrap {
    text-align: left;
  }
}
.topblog__author, .topblog__blogtitle, .topblog__link {
  color: #ffffff;
}
.topblog__author {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4285714286;
}
.topblog__blogtitle {
  margin-bottom: 50px;
  font-size: 35px;
  line-height: 1.2857142857;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topblog__blogtitle {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .topblog__blogtitle {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .topblog__blogtitle {
    line-height: 1.2083333333;
  }
}
.topblog__link {
  font-size: 18px;
  line-height: 1.3888888889;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.topblog__link:hover, .topblog__link:focus {
  color: #f7941e;
}

@media screen and (min-width: 768px) {
  .how-it-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.how-it-works__item {
  padding: 30px 30px 40px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .how-it-works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .how-it-works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .how-it-works__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.how-it-works__item:hover, .how-it-works__item:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
}
.how-it-works__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .how-it-works__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .how-it-works__item:not(:last-child) {
    margin-right: 30px;
  }
}
.how-it-works__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5454545455;
  text-align: left;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .how-it-works__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.how-it-works__excerpt {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: left;
  color: #000000;
}
.how-it-works__link {
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: left;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-it-works__link:hover, .how-it-works__link:focus {
  color: #f7941e;
}

/* === Footer === */
.footer {
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
  }
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav-wrap {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 290px;
  border-bottom: 1px solid #000000;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__nav-wrap {
    width: 638px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__nav-wrap {
    width: 1000px;
  }
}
.footer__nav-list {
  margin-bottom: 38px;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__nav-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 81px;
  }
}
.footer__nav-link {
  padding: 15px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #000000;
}
.footer__social-links {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__social-links {
    margin-bottom: 72px;
  }
}
.footer__social-links-item:not(:last-child) {
  margin-right: 20px;
}
.left-list {
  text-align: left;
}

.right-list {
  text-align: right;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-rights {
  margin-right: 12px;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #000000;
}

.privacy-terms-link {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-terms-link:hover, .privacy-terms-link:focus {
  color: #f7941e;
}/*# sourceMappingURL=main.css.map */