body {
  font-family: "Lato", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* == Global styles reset == */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  cursor: pointer;
}

/* img */
.image {
  display: block;
  max-height: 100%;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

/* === HEADER === */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 116px;
  background-color: var(--main-background-color);
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  position: absolute;
  left: -55px;
  font-family: "Homemade Apple";
  font-weight: 400;
  font-size: 18px;
  line-height: 2.1666666667;
  color: var(--second-color);
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu-item {
  margin-right: 31px;
}

.main-menu-item:last-child {
  margin-right: 0;
}

.main-menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  color: #000000;
}

.btn-gift-finder {
  position: absolute;
  right: -101px;
  width: 150px;
  height: 43.5px;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

/* === SECTION HERO === */
.page-section {
  width: 1440px;
  margin: 0 auto;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-description {
  padding-left: 162px;
  padding-top: 154px;
  width: 721px;
  background-color: var(--second-background-color);
}

.hero-heading {
  margin-bottom: 36px;
  width: 433px;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.1785714286;
  color: var(--main-color);
}

.hero-text {
  margin-bottom: 52px;
  width: 422px;
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-color);
}

.btn-hero-gift-finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: var(--reverse-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border-color: transparent;
}

/* === SECTION FEATURE === */
.feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-description {
  padding-left: 112px;
  padding-top: 164px;
  width: 719px;
  background-color: var(--second-background-color);
}

.feature-heading {
  margin-bottom: 23px;
  width: 441px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.40625;
  color: var(--main-color);
}

.feature-text {
  margin-bottom: 35px;
  width: 441px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  color: var(--main-color);
}

.feature-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid #f7941e;
  border-radius: 5px;
}

/* === SECTION POSTS TALL === */
.tall-section {
  padding-top: 96px;
  background-color: var(--reverse-color);
}

.tall-heading {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
  color: var(--main-color);
}

.tall-text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.3333333333;
  text-align: center;
  color: var(--main-color);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-item {
  margin-right: 30px;
  width: 270px;
  height: 436px;
}

.card-thumb {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */