/* == CTA SECTION == */

/* Section */
.cta {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  background-color: $accentColor;

  @include only-tablet(padding, 52px 0);

  @include only-desktop(padding, 82px 0);

  /* CTA container */

  &-container {
    @include tablet-and-desktop(display, flex);
    @include tablet-and-desktop(justify-content, space-between);
    @include tablet-and-desktop(align-items, center);

    @include only-tablet(padding, 0 45px);

    @include only-desktop(padding, 0 115px);
  }

  /* Text in CTA */

  &__text-wrap {
    margin-bottom: 20px;

    @include tablet-and-desktop(margin-bottom, 0);
  }

  &__bold-text,
  &__text {
    font-size: 26px;
    line-height: calc(38 / 26);

    color: $mainColor;
  }

  &__bold-text {
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
  }

  /* Buttons in CTA */

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}
