/* == FOOTER == */

.footer {
  padding-top: 50px;
  padding-bottom: 35px;

  @include tablet-and-desktop(padding-top, 100px);

  background-color: $bgColorHeaderFooter;

  // Footer container

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Navigation in footer

  &__nav-wrap {
    margin-bottom: 38px;

    display: flex;
    justify-content: space-around;
    align-items: baseline;

    width: 290px;

    @include only-tablet(width, 638px);

    @include only-desktop(width, 1000px);

    border-bottom: 1px solid $mainColor;
  }

  &__nav-list {
    margin-bottom: 38px;
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 10px;

    @include tablet-and-desktop(margin-bottom, 0);

    @include only-tablet(margin-right, 54px);

    @include only-desktop(margin-right, 81px);
  }

  &__nav-link {
    padding: 15px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(20 / 14);

    color: $mainColor;
  }

  // Social links in footer

  &__social-links {
    margin-bottom: 40px;

    @include tablet-and-desktop(margin-bottom, 72px);

    display: flex;

    &-item:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.left-list {
  text-align: left;
}

.right-list {
  text-align: right;
}

/* Author rights and privacy policy */

.wrap {
  display: flex;
}

.author-rights {
  margin-right: 12px;

  font-size: 14px;
  line-height: calc(20 / 14);

  color: $mainColor;
}

.privacy-terms-link {
  font-size: 14px;
  line-height: calc(20 / 14);

  color: $mainColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
