/* === HEADER === */

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $borderColor;
    background-color: $bgColorHeaderFooter;

    @include only-tablet(padding-top, 18px);
    @include only-tablet(padding-bottom, 18px);
    
    @include only-desktop(padding-top, 23px);
    @include only-desktop(padding-bottom, 23px);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}

