/* == SECTION HERO == */

/* Section */

.hero {
  background-color: $bgSecondColor;

  /* Hero container */

  &-container {
    display: flex;
    padding: 0;

    @include only-mobile(flex-direction, column-reverse);

    @include tablet-and-desktop(justify-content, space-between);
  }

  /* Thumb for img */

  &__thumb {
    width: 320px;

    @include only-mobile(margin-bottom, 30px);

    @include only-tablet(width, 384px);

    @include only-desktop(width, 600px);
  }

  /* Text in hero */

  &__description {
    margin: 0 auto;
    padding: 0 20px 20px;

    text-align: center;

    @include only-tablet(width, 384px);
    @include only-tablet(padding, 60px 70px);

    @include only-desktop(width, 600px);
    @include only-desktop(padding, 90px 110px);

    @include tablet-and-desktop(display, flex);
    @include tablet-and-desktop(flex-direction, column);
    @include tablet-and-desktop(justify-content, space-between);
    @include tablet-and-desktop(align-items, left);
    @include tablet-and-desktop(text-align, left);
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 32px;
    line-height: calc(36 / 32);

    color: $mainColor;

    @include only-desktop(font-size, 56px);
    @include only-desktop(line-height, calc(66 / 56));
  }

  &__subtitle {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    color: $mainColor;

    @include only-desktop(font-size, 20px);
    @include only-desktop(line-height, calc(28 / 20));

    @include tablet-and-desktop(margin-bottom, auto);
  }
}
