/* === SECTION HERO === */

.page-section {
  width: 1440px;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  justify-content: center;
}

.hero-description {
  padding-left: 162px;
  padding-top: 154px;
  width: 721px;

  background-color: var(--second-background-color);
}

.hero-heading {
  margin-bottom: 36px;
  width: 433px;

  font-weight: 400;
  font-size: 56px;
  line-height: calc(66 / 56);

  color: var(--main-color);
}

.hero-text {
  margin-bottom: 52px;
  width: 422px;

  font-size: 20px;
  line-height: calc(28 / 20);

  color: var(--main-color);
}

.btn-hero-gift-finder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 60px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;

  color: var(--reverse-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border-color: transparent;
}