// /* == Mobile menu == */

// Menu toggle

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @include tablet-and-desktop(display, none);

   &__icon {
    fill: $mainColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accentColor;
  }
  .mobile-menu &:hover &__icon,
  .mobile-menu &:focus &__icon {
    fill: $reverseColor;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 40px 120px 40px;
  background-color: $accentColor;
  z-index: 999;

  transform: translateX(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.mobile-menu {
// padding: 60px 40px;

display: flex;
flex-direction: column;
justify-content: space-between;


&__list {
margin-bottom: auto;

  width: 50vw;
}

&__link {
padding: 15px 0;

  font-size: 38px;
  line-height: calc(44 / 38);

  color: $mainColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $reverseColor;
      }
}

  &__social-links {
    display:flex;
    justify-content: center;

    
  }

  &__item:not(:last-child) {
      margin-right: 20px;
    }

    }
