/* === SECTION POSTS TALL === */

.tall-section {
  padding-top: 96px;

  background-color: var(--reverse-color);
}

.tall-heading {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 32px;
  line-height: calc(38 / 32);
  text-align: center;

  color: var(--main-color);
}

.tall-text {
  margin-bottom: 50px;

  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;

  color: var(--main-color);
}

.card-list {
  display: flex;
  justify-content: center;
}

.card-item {
  margin-right: 30px;

  width: 270px;
  height: 436px;
}

.card-thumb {
  width: 100%;
  height: 100%;
}

.card-thumb:hover,
.card-thumb:focus {
  //   box-shadow (10px 10px 15px rgba(0, 0, 0, 0.05));
}
