/* === SECTION POSTS TALL === */

.tall {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $reverseColor;

  &__title {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 24px;
    line-height: calc(30 / 24);
    // font-size: 32px;
    // line-height: calc(38 / 32);
    text-align: center;

    color: $mainColor;

    @include only-desktop(font-size, 32px);
    @include only-desktop(line-height, calc(38 / 32));
  }

  &__subtitle {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: calc(20 / 16);

    // font-size: 18px;
    // line-height: calc(24 / 18);
    text-align: center;

    color: $mainColor;

    @include only-desktop(font-size, 18px);
    @include only-desktop(line-height, calc(24 / 18));
  }

  &__list {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    align-items: center;

    @include tablet-and-desktop(flex-direction, row);
    @include tablet-and-desktop(flex-wrap, wrap);
  }

  &__item:not(:nth-child(2n)) {
    @include only-tablet(margin-right, 30px);
  }

  &__item:not(:last-child) {
    @include only-mobile(margin-bottom, 30px);
    @include only-desktop(margin-right, 30px);
  }

  &__item:not(:nth-last-child(-n + 2)) {
    @include only-tablet(margin-bottom, 30px);
  }
}

.card {
  width: 270px;

  @include only-tablet(width, calc((100% - 1 * 30px) / 2));

  &__thumb {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 436px;

    background-color: $bgColorHeaderFooter;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include only-tablet(display, flex);
    @include only-tablet(flex-direction, column);

    &:hover,
    &:focus {
      box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
    }
  }

  &__wrap {
    padding: 24px;
  }

  &__title {
    margin-bottom: 44px;

    // margin-bottom: 74px;

    font-size: 20px;
    line-height: calc(24 / 20);

    color: $mainColor;

    
    @include only-desktop(margin-bottom, 74px);

  }

  &__link {
    font-size: 14px;
    line-height: calc(19 / 14);
    
    color: $mainColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

// .card-item {
//   margin-right: 30px;
// }

// .card-thumb {
//   width: 100%;
//   height: 100%;
// }

// .card-thumb:hover,
// .card-thumb:focus {
//   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
// }
