/* == TOP BLOG SECTION == */

.topblog {
  padding: 40px 0;

  text-align: center;
  background-color: $reverseColor;

  @include only-tablet(padding, 60px 0);

  @include only-desktop(padding, 86px 0 82px);

  // Top blog container

  &-container {
    padding: 0;
  }

  // Titles

  &__title {
    margin-bottom: 15px;

    @include tablet-and-desktop(margin-bottom, 23px);
  }

  &__text {
    margin-bottom: 30px;

    @include tablet-and-desktop(margin-bottom, 71px);
  }

  &__wrap {
    margin-bottom: 40px;

    @include tablet-and-desktop(display, flex);

    background-color: $mainColor;
  }

  // Thumb for img

  &__thumb {
    width: 320px;

    @include only-tablet(width, 312px);

    @include only-desktop(width, 600px);
  }

  // Text

  &__text-wrap {
    padding: 30px 15px;

    @include only-tablet(display, flex);
    @include only-tablet(flex-direction, column);
    @include only-tablet(justify-content, space-between);
    @include only-tablet(padding, 25px 100px 25px 45px);

    @include only-desktop(padding, 63px 200px 49px 78px);

    @include tablet-and-desktop(text-align, left);
  }

  &__author,
  &__blogtitle,
  &__link {
    color: $reverseColor;
  }

  &__author {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: calc(20 / 14);
  }

  &__blogtitle {
    margin-bottom: 50px;

    @include only-tablet(margin-bottom, auto);

    font-size: 35px;
    line-height: calc(45 / 35);

    @include only-desktop(font-size, 48px);
    @include only-desktop(line-height, calc(58 / 48));
  }

  &__link {
    font-size: 18px;
    line-height: calc(25 / 18);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

/* How it works subsection */

.how-it-works {
  @include tablet-and-desktop(display, flex);

  &__item {
    padding: 30px 30px 40px;

    @include tablet-and-desktop(display, flex);
    @include tablet-and-desktop(flex-direction, column);
    @include tablet-and-desktop(justify-content, space-between);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;

    @include tablet-and-desktop(margin-bottom, 0);
    @include tablet-and-desktop(margin-right, 30px);
  }

  &__title {
    margin-bottom: 16px;

    @include tablet-and-desktop(flex-grow, 1);

    font-weight: 700;
    font-size: 22px;
    line-height: calc(34 / 22);
    text-align: left;

    color: $mainColor;
  }

  &__excerpt {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: left;

    color: $mainColor;
  }

  &__link {
    font-size: 14px;
    line-height: calc(20 / 14);
    text-align: left;

    color: $mainColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
