// === Variables ===

// Fonts
$mainFont: "Lato", sans-serif;
$logoFont: "Kalam", cursive;

// Text colors
$mainColor: #000000;
$reverseColor: #ffffff;
$logoColor: #231f20;
$accentColor: #f7941e;

// Background colors
$bgSecondColor: #F1F1F2;
$bgColorHeaderFooter: #FAFAFA;

// Border colors
$borderColor: #E4C7B3;

// Breakpoints
$minMobile: 320px;
$minTablet: 768px;
$minDesktop: 1200px;
